@import helper._

@(collName: String, queryType: String)(oId: Option[reactivemongo.bson.BSONObjectID], oOptsMap: Option[Map[String, Seq[(String, String)]]] = None)(formTabList: Seq[Html], oActiveTabIdx: Option[Int] = Some(1))(thisFormDataJsStr: Option[String])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@getFormNameId = @{
    collName + "-form"
}

@formPanelLabel = @{
    views.generic.form.FormHelper.getFormActionLabel(queryType) + " document"
}

@form(action = admin.db.routes.IndexC.submitForm(queryType, collName, oId, thisFormDataJsStr, oActiveTabIdx), 'name -> getFormNameId, 'id -> getFormNameId, 'class -> "admin-db-form") {
    @CSRF.formField

    @views.html.generic.panelCollapsible("panel-action", formPanelLabel, "collapse-form") {
        @views.html.generic.tabContent {
            @for((thisTab, idx) <- formTabList.zipWithIndex) {
                @views.html.generic.tabPane("panel-group form-fields fade", "tab" + (idx+1), views.generic.GenericHelper.isActive(idx, oActiveTabIdx, " in")) {
                    @thisTab
                }
            }
        }
    }
}